/* 
kevin fazer ideias 
morte : animação de chegada do card 
home: 

*/

.card{
    border-radius: 0px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #c5c5c5;
}

.img-header{
     background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
}

.all-font{
    font-family: sans-serif;
}

.botao-info{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: yellow;
    border-radius: 0 0 0 32px;
}
